.info-box {
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.info-box p {
  text-align: justify;
  hyphens: auto;
}

.info-box a {
  text-decoration: none;
  color: var(--font-color-dark);
  font-weight: 800;
  cursor: none;
}

.info-box a:hover {
  color: var(--dark);
}

.info-box ul {
  list-style-type: none;
  font-size: 0.8rem;
}

.info-box .sub-note {
  font-size: 0.7rem;
}

@media (hover: hover) {
  h1:hover {
    text-shadow: 0.3em 0.6em 0.4em var(--dark-grey);
    transition: ease-in-out 0.5s;
  }
}
