:root 
{
    --dark-grey: rgba(94,104,121,0.3);
    --light-grey:  rgba(255,255,255,0.45);
    --bg: #dde1e7;
    --dark: #000000;

    /* FONT */
    /* font-family: 'Space Mono', monospace; */
    --font: 'Space Mono', monospace;
    --font-color-dark:  rgba(1, 1, 1, 0.3);
    --font-color-light:  rgba(1, 1, 1, 0.3);
}

* {
    margin: 0;
    padding: 0;
  }

html {
    scroll-behavior: smooth;
    cursor: none;
}

body
{
    background-color: var(--bg);
    color: var(--dark-grey);
    font-family: var(--font);
    text-align: center;
    place-items: center;
    cursor: none;
}

#desktopMenu {
   text-align: center;
}

.navbar,
.header {
    margin: 20px;
    border: 2px solid;
    border-color: var(--bg);
    border-radius: 1.5rem;
    opacity: 80%;
}

/* .navbar:hover {
    opacity: 100%;
    box-shadow: 5px 5px 10px var(--dark-grey), -5px -5px 10px var(--light-grey);
    transition: ease-in-out 1s;
} */

.navbar {
    text-align: center;
    background: var(--bg);
    color: #c1e8ff;
    height: 5rem;
    padding-top: 50px;
}

.navbar a {
    background-color: var(--bg);
    color: var(--font-color-dark);
    text-align: center;
    padding: 18px 30px;
    border: 2px solid;
    border-color: var(--light-grey);
    border-radius: 2rem;
    text-decoration: none;
    font-size: 17px;
    box-shadow: 4px 4px 5px var(--dark-grey), -4px -4px 5px var(--light-grey);
    cursor: none;
}

/* Change the color of links on hover */
/* .navbar a:hover {
    background-color: var(--font-color-dark);
    border-radius: 2rem;
    border: 2px solid;
    border-color: var(--light-grey);
    color: var(--bg);
    box-shadow: 5px 15px 10px var(--dark-grey);
    transition: ease-in-out 0.3s;
} */

/* Add a color to the active/current link */
.navbar a.active {
    background-color: var(--dark);
    border-radius: 2rem;
    border: 2px solid;
    border-color: var(--dark-grey);
    color: var(--bg);
}

h1
{
    color: rgba(94,104,121,0.3);
    text-decoration: none;
    text-shadow: 0.1em 0.3em 0.4em var(--dark-grey);
    letter-spacing: 0.2rem;
    padding-bottom: 15px;
}

/* h1:hover {
    text-shadow: 0.3em 0.6em 0.4em var(--dark-grey);
    transition: ease-in-out 0.5s;
} */

/* Mobile menu */
#mobileMenu {
    display: none;
}

#mobile-logo
{
    width: 60px;
    height: auto;
    transition: 0.6s ease-in-out; 
}

.blur {
    filter: blur(2px);
}

/* #mobile-logo:hover
{
    opacity: 0.8;
    transform: scale(1.03,1.03);
} */

/* OPEN AND CLOSE THE MOBILE MENU */
#mobileMenu
{
    display: none;
    background: var(--bg);
    width: 70%;
    height: auto;
    margin-top: 10px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    position: relative;
    z-index: 2;
    transition: max-height 0.5s;
    display: none;
}

#mobile-menu
{
    background-color: var(--light-grey);
    color: #012840;
    width: 60%;
    padding: 7px;
    padding-left: 10px;
    margin-left: -5px;
    margin-top: 8px;
    border-radius: 1rem;
    transition: 0.5s;
    display: none;
    z-index: 2;
    box-shadow: 5px 5px 10px var(--dark-grey), -5px -5px 10px var(--light-grey);
}

#mobile-menu-container {
    padding: 5px;
    border: 1px solid;
    border-radius: 1rem;
    border-color: var(--light-grey);
}

/* #mobile-menu-container:hover {
    padding: 5px;
    border: 1px solid;
    border-radius: 1rem;
    border-color: var(--light-grey);
    box-shadow: 5px 5px 10px var(--dark-grey), -5px -5px 10px var(--light-grey);
    transition: ease-in-out 1s;
} */

#mobile-menu h3
{
    font-weight: 900;
}

#mobile-menu h3 span
{
    font-size: 0.8em;
    color: var(--dark-grey);
}

#mobile-menu hr
{
    margin-top: 5px;
    margin-bottom: 5px;
}

#mobile-menu a
{
    text-decoration: none;
    color: var(--dark);
}

/* #mobile-menu a:hover
{
    text-shadow: 0.3em 0.6em 0.4em var(--dark-grey);
    transition: ease-in-out 0.5s;
} */

#mobile-menu span
{
    text-align: right;
}

.mobile-menu-link
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark-grey);
    margin: 12px 0;
}

/* #copyright:hover {
    text-shadow: 0.3em 0.6em 0.4em var(--dark-grey);
    transition: ease-in-out 0.5s;
} */

.info-box {
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.info-box p {
    text-align: justify;
    hyphens: auto;
}

.info-box a {
    text-decoration: none;
    color: var(--font-color-dark);
    font-weight: 800;
    cursor: none;
}

.info-box a:hover {
    color: var(--dark);
}

.info-box ul {
    list-style-type: none;
    font-size: 0.8rem;
}

.info-box .sub-note {
    font-size: 0.7rem;
}


#copyright
{
    margin-bottom: 20px;
    color: var(--dark-grey);
    text-shadow: 0.1em 0.3em 0.4em var(--dark-grey);
}

@media screen and (max-width: 768px) {

    * {
        box-sizing: border-box;
    }

    /* reset normal cursor on mobile */
    html,
    body,
    .navbar a,
    #search-box,
    label,
    input[type='radio'],
    #search-button,
    #reset-button,
    #random-button {
        cursor: pointer;
    }

    /* rm custom cursor on mobile */
    .cursor {
        display: none;
    }

    #desktopMenu {
        display: none;
    }

    #mobileMenu  
    {
        display: block;
        color: var(--dark-grey);
        height: 70px;
        width: auto;
        transition: height 0.5s ease-in-out;
    }

    /* OPEN AND CLOSE THE MOBILE MENU */
    #mobileMenu .open-mobile-menu
    {
        display: block;

    }

    #mobileMenu ul li
    {
        display: block;
        text-align: left;
    }

    h1 {
        padding-top: 30px;
    }

    #copyright {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 480px) {

    ul .mobile-view {
        display:none !important;
    }
}

@media(hover: hover) {

    .navbar:hover {
        opacity: 100%;
        box-shadow: 5px 5px 10px var(--dark-grey), -5px -5px 10px var(--light-grey);
        transition: ease-in-out 1s;
    }

    .navbar a:hover {
        background-color: var(--font-color-dark);
        border-radius: 2rem;
        border: 2px solid;
        border-color: var(--light-grey);
        color: var(--bg);
        box-shadow: 5px 15px 10px var(--dark-grey);
        transition: ease-in-out 0.3s;
    }

    h1:hover {
        text-shadow: 0.3em 0.6em 0.4em var(--dark-grey);
        transition: ease-in-out 0.5s;
    }

    #mobile-menu-container:hover {
        padding: 5px;
        border: 1px solid;
        border-radius: 1rem;
        border-color: var(--light-grey);
        box-shadow: 5px 5px 10px var(--dark-grey), -5px -5px 10px var(--light-grey);
        transition: ease-in-out 1s;
    }

    #mobile-menu a:hover
    {
        text-shadow: 0.3em 0.6em 0.4em var(--dark-grey);
        transition: ease-in-out 0.5s;
    }

    #mobile-logo:hover
    {
        box-shadow: none !important;
        transform: scale(1.03,1.03);
    }

    #copyright:hover {
        text-shadow: 0.3em 0.6em 0.4em var(--dark-grey);
        transition: ease-in-out 0.5s;
    }
}