.cursor {
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  /* lag in the movement */
  /* transition-duration: 200ms;
    transition-timing-function: ease-out; */
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 10;
}

.cursor::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  border: 6px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -6px;
  left: -6px;
}

@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: clickAnimation 0.3s forwards;
  border: 2px solid white;
}
