.search-container {
  position: absolute;
  background-color: var(--bg);
  color: var(--dark-grey);
  border-radius: 2rem;
  width: 100px;
  height: auto;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 0.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  box-shadow: 4px 4px 5px var(--dark-grey), -4px -4px 5px var(--light-grey);
  cursor: none;
  transition: ease-in-out 0.5s;
}

.search-container:hover {
  background-color: var(--font-color-dark);
  color: var(--bg);
  box-shadow: 5px 15px 10px var(--dark-grey);
}

.search-container span {
  position: absolute;
  transition: transform ease-in-out 1s;
}

.search-container:hover span {
  transform: translateX(5px);
}

.container-block {
  background-color: var(--bg);
  overflow: hidden;
  max-height: 0;
  transition: max-height ease-in-out 0.8s;
}

.content-block {
  padding: 1rem 1rem;
}
