#main,
#main-container {
  height: auto;
  margin: 50px 50px 50px 50px;
  padding: 20px;
  border-radius: 2rem;
  border: 2px solid;
  border-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: blur-animation 5s infinite alternate;
  transition: ease-out 0.5s;
}

@keyframes blur-animation {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(3px);
  }
}

#main:hover {
  border-radius: 2rem;
  border: 2px solid;
  border-color: var(--bg);
  color: var(--bg);
}

#main-container:hover {
  border-radius: 2rem;
  border: 2px solid;
  border-color: var(--bg);
  color: var(--bg);
  box-shadow: 5px 15px 10px var(--dark-grey);
}

.circle {
  height: 300px;
  width: 300px;
  background: #dde1e7;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
  transition: ease-in-out 0.5s;
}

.circle::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
  opacity: 0;
}

div.circle img:first-child {
  width: 220px;
  height: 220px;
  object-fit: cover;
}

div.circle img:last-child {
  display: none;
  transition: ease-in-out 1s;
}

@media (hover: hover) {
  .circle:hover {
    box-shadow: 5px 15px 10px var(--dark-grey);
    opacity: 1;
  }

  /* div.circle:hover img:last-child {
    width: 220px;
    height: 220px;
    object-fit: cover;
    display: block;
  }

  div.circle:hover img:first-child {
    display: none;
  } */
}
