* {
  scrollbar-width: auto;
  scrollbar-color: var(--dark);
}

/* Chrome, Safari */
*::-webkit-scrollbar {
  width: 20px;
  background-color: var(--dark-grey);
}

*::-webkit-scrollbar-track {
  background-color: var(--bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark-grey);
  border-radius: 12px;
  border: 2px solid var(--light-grey);
}
