/* search box */
#search-container,
#search-container-box {
  font-family: var(--font);
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* #search-box */
input[type="text"] {
  background-color: var(--bg);
  color: var(--dark-grey);
  font-family: var(--font);
  font-size: 0.9rem;
  letter-spacing: normal;
  margin: auto;
  margin-left: 10px;
  padding: 20px;
  width: 100%;
  min-width: 150px;
  box-shadow: inset -5px -5px 9px var(--light-grey),
    inset 5px 5px 9px var(--dark-grey);
  border-radius: 10px;
  border: none;
  cursor: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input::placeholder {
  color: var(--dark-grey);
}

#radioButtons {
  margin-bottom: 20px;
  padding: 20px 10px 20px 10px;
  border: none;
  box-shadow: inset -5px -5px 9px var(--light-grey),
    inset 5px 5px 9px var(--dark-grey);
  border-radius: 10px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 10px;
  min-width: auto;
  background-color: var(--bg);
  color: var(--dark-grey);
  font-family: var(--font);
  font-size: 1.2rem;
  margin: auto;
  border: none;
  cursor: none;
}

input[type="radio"]:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  top: 0px;
  left: 1px;
  position: relative;
  background-color: var(--bg);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--light-grey);
}

input[type="radio"]:checked:after {
  width: 10px;
  height: 10px;
  top: 0px;
  left: 1px;
  position: relative;
  background-color: var(--dark);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--light-grey);
}

#button-container {
  padding: 10px;
}

#search-button,
#reset-button,
#random-button {
  background-color: var(--bg);
  color: var(--dark-grey);
  font-family: var(--font);
  font-size: 1.2rem;
  width: 30%;
  height: 50px;
  min-width: 150px;
  max-width: 200px;
  border-radius: 10px;
  border: none;
  box-shadow: -5px -5px 9px var(--light-grey), 5px 5px 9px var(--dark-grey);
  cursor: none;
  transition: 0.2s ease-in;
}

#search-button {
  margin-bottom: 10px;
}

#reset-button {
  margin-top: 10px;
}

#random-button {
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}

/* tooltip */
.tooltip {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  color: var(--bg);
  /*  show if mouseover */
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -110%);
  transition: all 0.1s ease;
  width: auto;
  height: auto;
  padding: 8px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.tooltipul {
  list-style: none;
}

.weather-data {
  display: none;
}

footer {
  padding-bottom: 20px;
}

@media (hover: hover) {
  #search-button:hover,
  #reset-button:hover,
  #random-button:hover {
    background-color: var(--bg);
    color: var(--dark-grey);
    box-shadow: inset -5px -5px 9px var(--light-grey),
      inset 5px 5px 9px var(--dark-grey);
  }
}
